<% include ../partials/header%>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="User's Profile Image">
            <div class="caption">
                <%= user.username %>
            </div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born 
        and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
        the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
        but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
    </div>
    <div class="col-md-8">
        <h3><%= user.firstName %>'s Campgrounds</h3>
        <ul>
        <% campgrounds.forEach(function(campground) { %>
        <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
        <% }); %>
        </ul>
    </div>
</div>

<% include ../partials/footer%>